<div class="center">
  <mat-card>
    <h2 align="center">Iniciar Sesión</h2>
    <div class="example-container">
      <mat-form-field appearance="fill">
        <mat-label>Usuario</mat-label>
        <input matInput />
      </mat-form-field>
    </div>
    <br>
    <div class="example-container">
      <mat-form-field appearance="fill">
        <mat-label>Contraseña</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="example-container">
      <a mat-raised-button href="https://www.google.com/" target="_blank">Iniciar</a>  <!--submit-->
    </div>
    <div class="example-container">
      <a mat-raised-button href="https://www.google.com/" target="_blank">Regresar</a>  
    </div>
  </mat-card>
</div>



