<!DOCTYPE html>
<html lang="en">
<head>
    <TItle>MONAR</TItle>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {
        background-image: url('imagen_monar.jpg');
      }
    <div> class= "containers"
        <h1 style="background-color:rgb(255, 99, 71);">MONAR</h1>
    <H2>MONAR le da la BIENVENIDA</H2>
    <p>En monar somos expertos en una amplia variedad de servicios contables <br>
    y ofrecemos asesoria en todo momento. Si no puede atender su contabilidad <br>
con nuestro servicios le garantizamos rapidez y eficiencia en la gestión de su contabilidad <br>
<b>Contrate nuestros servicios y despreocúpece, esta en buenas manos</b></p>

</div>
</body>
</html>