.imagenfondo{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url(src/assets/styles/imagendef.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.texto-encima{
    position: absolute;
    top: 5%;
    left: 40px;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 250%;
    color: white;     
}
.texto-encima img{
  width: 30px;
  float: left;
}
h1 {font-family: 'Merriweather Sans', sans-serif; font-weight: bold;  font-size: 50% ; color: white; float: right;
} 
.centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Lora", serif;
    font-size: 350px;
    color: white;
}
p { font-size: medium; font-weight:normal } 
h2 { font-size: xx-large; font-family: 'Merriweather Sans', sans-serif; font-weight: bold} 