<h1 mat-dialog-title>Datos de tarjeta</h1>
<div mat-dialog-content class="dialogo">
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Numero</mat-label>
      <input matInput [(ngModel)]="data.animal">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Fecha de vencimiento</mat-label>
      <input matInput [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Código de seguridad</mat-label>
      <input matInput [(ngModel)]="data.animal">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>DNI</mat-label>
      <input matInput [(ngModel)]="data.animal">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Propietario</mat-label>
      <input matInput [(ngModel)]="data.animal">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Empresa</mat-label>
      <mat-select>
        <mat-option value="one">Visa</mat-option>
        <mat-option value="two">MasterdCard</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Salir</button>
  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Agregar</button>
</div>
