<!DOCTYPE html>
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel ="stylesheet" type="text/css"  href = "https://use.fontawesome.com/releases/v5.7.2/css/all.css">
  
</head>
<div class='container-fluid'>
    <div class="card">
        <div class="heading text-center">
            <div class="head1">MONAR</div>
            <br>
            <p class="bdr"></p>
        </div>
        <div class="card-body">
            <div class="row m-0 pt-5">
                <div class="card col-12 col-md-3">
                    <div class="card-content"> <i class="fas fa-hand-holding-usd fa-3x"></i>
                        <div class="card-title"> INVIERTA CON NOSOTROS </div>
                        <p><small>Conosca la manera mas eficaz de <br>generar mas dinero.</small></p>
                        <div class="learn-more">
                            <p> <small> SABER MAS <label><i class="fas fa-angle-right"></i></label> </small> </p>
                        </div>
                    </div>
                </div>
                <div class="card col-12 col-md-3">
                    <div class="card-content"> <i class="far fa-handshake fa-3x"></i>
                        <div class="card-title"> ENTIDADES </div>
                        <p><small>Conozca la lista de tarjetas <br>con la que trabajamos.</small></p>
                        <div class="learn-more">
                            <p> <small> SABER MAS <label><i class="fas fa-angle-right"></i></label> </small> </p>
                        </div>
                    </div>
                </div>
                <div class="card col-12 col-md-3">
                    <div class="card-content"> <i class="fas fa-mobile-alt fa-3x"></i>
                        <div class="card-title"> PAGO POR TELEFONO </div>
                        <p><small>La manera mas fácil y comoda<br> de realizar sus pagos de servicios.</small></p>
                        <div class="learn-more">
                            <p> <small> SABER MAS <label><i class="fas fa-angle-right"></i></label> </small> </p>
                        </div>
                    </div>
                </div>
                <div class="card col-12 col-md-3">
                    <div class="card-content"> <i class="fas fa-user-secret fa-3x"></i>
                        <div class="card-title"> MANTENGASE SEGURO </div>
                        <p><small>Sentirse seguro a la hora de realizar sus <br> transacciones es nuestra prioridad.</small></p>
                        <div class="learn-more">
                            <p> <small> SABER MAS <label><i class="fas fa-angle-right"></i></label> </small> </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-footer row m-0">
            <p> <label> <i class="fas fa-phone fa-rotate-90 text-primary"></i> </label> +54 9 123-456-789</p>
            <div>
                <p> <small class="follow-text">SEGUINOS EN NUESTRAS REDES SOCIALES.</small> <label class="footer-right"> <i class="fab fa-instagram"></i> <i class="fab fa-facebook-square"></i> <i class="fab fa-linkedin"></i> <i class="fab fa-twitter-square"></i> </label> </p>
            </div>
        </div>

        <div class="col-md-7 col-lg-8">
            <p>Copyright @2021 All rights reserved by: 
                <a href="#" style="text-decoration: none;">
                <strong class="text-warning">MONAR</strong>
            </a></p>
        </div>

    </div>
</div>
</html>