<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<div class="login">
  <div class="card">
    <div class="card-body">
      <h1 align="center">Iniciar Sesión</h1>
      <form form [formGroup]="loginForm" (ngSubmit)="onEnviar($event, usuario)">
          <mat-form-field appearance="legacy">
            <mat-label>Usuario</mat-label>
            <input matInput class="form-control" formControlName="correo" [(ngModel)]="usuario.correo"/>
          </mat-form-field>
          <mat-form-field appearance="legacy">
            <mat-label>Contraseña</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" class="form-control" formControlName="contraseña" />
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
          </mat-form-field>
          <div class="example-container">
            <button  type="submit" mat-raised-button color="primary">Iniciar</button><!--submit-->
          </div>
      </form>
    </div>
  </div>
</div>
