   <!--
     <div>
                        N° Cuenta: {{cuenta.cvu}}
                    </div>
                    <div>
                        Alias: {{cuenta.alias}}
                    </div>
                    <div>
                        Saldo: {{cuenta.saldo}}
                    </div>
                   <div>
                        Tipo de moneda: {{cuenta.idTipoMoneda}}
                   </div>

   -->
    <div class="cuenta">
        <div class="row">
            <div *ngFor="let cuenta of listaCuentas">
                <div *ngIf="currentUser.dni == cuenta.dni">
                  <mat-accordion>
                    <mat-expansion-panel (opened)="panelOpenState = true"
                                         (closed)="panelOpenState = false" color="primary">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          N° Cuenta: {{cuenta.cvu}}
                        </mat-panel-title>
                        <mat-panel-description>
                          <p>Alias: {{cuenta.alias}}</p>
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <p>Saldo: {{cuenta.saldo}}</p>
                      <p>Tipo de moneda: {{cuenta.idTipoMoneda}}</p>
                    </mat-expansion-panel>
                  </mat-accordion>
                  
                </div>
            </div>
        </div>
    </div>



  


