

    <div class="cuenta">
        <div class="row">
            <div class="card" *ngFor="let cuenta of listaCuentas">
                <div class="card-body">
                    <div>
                        N° Cuenta: {{cuenta.cvu}}
                    </div>
                    <div>
                        Alias: {{cuenta.alias}}
                    </div>
                    <div>
                        Saldo: {{cuenta.saldo}}
                    </div>
                   <div>
                        Tipo de moneda: {{cuenta.idTipoMoneda}}
                   </div>
                </div>
            </div>
        </div>
    </div>

  


