<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="TIPODEPOSITO">
    <h1>¿Cómo desea ingresar dinero?</h1>
 <div>
     <button type="button" class="btn btn-outline-secondary"><i class="fas fa-credit-card"></i> <p>Tarjeta de debito </p></button>
    </div>
 <div>
     <button type="button" class="btn btn-outline-secondary"><i class="fas fa-money-bill-wave"></i>Efectivo</button>
    </div>
</div>
