<div class="imagenfondo"></div>
<div class="texto-encima">
   <img src="./assets/img/logomonar.png"/> 
 <h1>MONAR</h1>
</div>
  <div class="centrado"><h2> MONAR <br>
    <br>
    <br>
  le da la <span class="otroestilo">¡BIENVENIDA!</span>
  <br>
  <br>
  <p>Somos expertos en una amplia variedad de servicios contables
  y ofrecemos asesoria en todo momento. Si no puede manejar su contabilidad como quisiera, con nuestro servicios
  te garantizamos rapidez y eficiencia en las gestion de su contabilidad</p>
<div class="example-container">
  <a mat-raised-button color="primary" routerLink="/registro">COMENZAR</a> 
</div>
</h2>
</div>
