@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

.imagenfondo{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url(src/assets/img/imagendef.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.texto-encima{
    position: absolute;
    top: 5%;
    left: 40px;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 250%;
    color: white; 
    margin-top: 12px;
}
.texto-encima img{
  width: 30px;
  float: left;
  margin: 10px;
  ;
}
h1 {
    font-family:  'Yellowtail', cursive; 
    font-weight: bold;  
    font-size: 50% ; color: white; 
    float: right; margin: 10px;
} 
.centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Format", serif;
    font-size: 350px;
    color: white;
    align-items: center;
    display: flex;
    margin-bottom: 1px;
}
.otroestilo{ 
    color: #ffffff ;
    font-family: 'Orbitron', sans-serif;
    text-shadow: 2px 2px 4px #000000;
    text-shadow:
		0 0 5px #FF6F00,
		0 0 10px #FF6F00,
		0 0 20px #FF6F00,
		0 0 40px #FF6F00,
		0 0 80px #FF6F00,
		0 0 90px #FF6F00,
		0 0 100px #FF6F00,
		0 0 140px #FF6F00,
		0 0 180px #b6b6b6; 
}
p { 
    font-size: 20px; 
    font-weight:normal; 
    font-family: 'Arial', sans-serif; 
    float: left;
    align-content: center;
    justify-content: center;
    text-align: justify;
    font-style: oblique;
} 
h2 { font-size: 15%; 
    font-family: 'Orbitron', sans-serif;
    font-weight: bold; 
}

a { 
    position: absolute; top: 100%;
    left: 40%; width: 30%;
}

a:hover{ 
    background-color: #ff9c50;
    box-shadow:0 0 5px #FF6F00,
    0 0 10px #FF6F00,
    0 0 20px #FF6F00,
    0 0 40px #FF6F00,
    0 0 80px #FF6F00,
    0 0 90px #FF6F00,
    0 0 100px #FF6F00,
    0 0 140px #FF6F00,
    0 0 180px #b6b6b6;  

}

.navbar{
    align-content:flex-end;
    
    background-color: #000000;
}

.is:hover{
    background-color: #ff9c50;
    box-shadow:0 0 5px #FF6F00,
    0 0 10px #FF6F00,
    0 0 20px #FF6F00,
    0 0 40px #FF6F00,
    0 0 80px #FF6F00,
    0 0 90px #FF6F00,
    0 0 100px #FF6F00,
    0 0 140px #FF6F00,
    0 0 180px #b6b6b6;  
}

.is{
    margin-left: 1200px;
    background-color: #FF6F00;
}

.foot{
    background-color: #000000;
    color: #000000;
    text-align: center;
    justify-content: center;
    height: 100px;
}

#footer{
    margin-top: 10px;
    color: #FF6F00;
    text-align: center;
    margin-left: 40%;
}